
<ion-view view-title="credentials-form" name="login-view">
  <ion-content class="padding">
       <div class='list'>
          <label class='item item-input'>
            <input type='email' ng-model='email' placeholder='Email'>
          </label>
          <label class='item item-input'>
            <input type='password' ng-model='password' placeholder='Password'>
          </label>
          <button class="button button-block button-positive" ng-click='login()'>Login</button>
          <button class="button button-block button-assertive" ng-click="goToSignup()">Register</button>
      </div>
  </ion-content>
</ion-view>
