<ion-view view-title="sign-docs">
  <ion-content class="padding">
    <div ng-class="{'hide': !pag_t}">
      <h3>Sign in the canvas</h3>
      <div id="sigCanvasDiv">
        <canvas id="signatureCanvas" width={{dev_width}}px height={{dev_height}}px style="border: 1px solid black;"></canvas>
      </div>
      <div class="button-bar">
        <a class="button button-energized" ng-click="clearCanvas()">Clear Signature</a>
        <a class="button button-balanced" ng-click="saveCanvas()">Save Signature</a>
      </div>
      <p>{{pag_i}}/{{pag_t}}</p>
    </div>
    <p ng-class="{'hide': pag_t}">No documents to sign</p>
  </ion-content>
  
</ion-view>
