<ion-view view-title="signup-form" name="signup-view">
  <ion-content class="padding">
       <div class='list'>
          <label class='item item-input'>
            <input type='email' ng-model='email' placeholder='Email'>
          </label>
          <label class='item item-input'>
            <input type='password' ng-model='password' placeholder='Password'>
          </label>
          <label class='item item-input'>
            <input type='password' ng-model='password' placeholder='retype Password'>
          </label>
          <button class="button button-block button-positive" ng-click="registerUser()">Register</button>
          <button class="button button-block button-assertive" ng-click="goToLogin()"><i class="ion-arrow-left-c"></i>  Go Back</button>
      </div>
  </ion-content>
</ion-view>